# Firebase iOS configuration file
GoogleService-Info.plist

# Apple Push Notification Key
*.p8

# Xcode user settings
xcuserdata/
*.xcuserstate

# macOS
.DS_Store
._*

# Build files
DerivedData/
build/

# Swift Package Manager
.swiftpm